@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-text: #06001d;
  --color-background: #f2f0ff;
  --color-primary: #3c0efd;
  --color-secondary: #f4fe79;
  --color-accent: #4bfe4d;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
